<div class="main vertical-center">
    <div class="btn-group">
        <button class="btn btn-primary" [class.active]="showEachQuestionFlag" (click)="showEachQuestion()">Each
            Question</button>
        <button class="btn btn-primary" [class.active]="!showEachQuestionFlag" (click)="showQuestionList()">Question
            List</button>
    </div>

    <ng-template [ngIf]="!isEnd" [ngIfElse]="showAll">
        <div class="container" style="max-width: 800px;">
            <h2>Question {{currentQuestionIndex + 1}} of {{questionsNoImage.length}}</h2>
            <div *ngIf="!getCurrentQuestion().image" class="row g-2 mt-2">
                <h3 class="mb-3 mt-3">{{getCurrentQuestion().text}}</h3>

                <div class="col-xs-12 col-md-6 h4">
                    <div *ngFor="let choice of getCurrentQuestion().choices">
                        <div *ngIf="choice.isAnswer">
                            {{choice.text}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <!-- Use Bootstrap's "d-flex" and "justify-content-center" classes -->
                <button class="btn btn-primary mr-2" (click)="onClickPrevious()">
                    < Previous </button>
                        <button class="btn btn-primary" (click)="onClickNext()">
                            Next >
                        </button>
            </div>

        </div>
    </ng-template>

    <ng-template #showAll>
        <div class="container" style="max-width: 800px;">
            <div class="row">
                <div class="col-12">
                    <ul style="text-align: left;">
                        <li *ngFor="let question of questionsNoImage">
                            <strong>{{ question.text }}</strong>
                            <div *ngFor="let choice of question.choices">
                                <div *ngIf="choice.isAnswer">
                                    {{ choice.text }}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </ng-template>
</div>